<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true">
    <testsuites>
        <testsuite name="SuluAIBundle">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <!-- Fail on the bundle's own deprecations, ignore indirect ones
             triggered inside Sulu/Symfony vendor code (e.g. loading the
             Sulu User entity). -->
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=0"/>
    </php>
</phpunit>
